@media screen and (max-width:1300px) {
.container {
	max-width: 375px;
	padding-left:5%;
	padding-right:5%;
	
}
.header_navigation {
	display: none;
	}
.tel a{
	color: #FFFFFF;
	text-decoration-line: none;
		}
.button-header {
	display:none;
	}
.header_content{
	margin-left: 38px;
	margin-left:auto;
	margin-right:auto;
/*	padding-left:2%;
	padding-right:2%;*/
    }
.title {
	font-size: 23px;
	line-height: 132.83%;
}
.abzac {
	font-size: 14px;
	line-height: 135.84%;
}
.hero {
	background-position: center;
	padding-top:85px;
	height: 476px;   
}
.hero-container {
	 display: flex;
 /*       justify-content: center;
        flex-wrap: wrap;*/
		 flex-flow: column nowrap;
	justify-content: space-between;
	height: 340px;
/*	padding-left:2%;
	padding-right:2%*/
}
.button-hero {
	width:340px;
	margin-left:auto;
	margin-right:auto;
}
.hero2-ul {
	display:none;
}
.slider {
	display:none;
}
.hero2-image {
	display:none;
}
.hero2-mobile1 {
	display:block;
	width: 340px;
	height: 280px;
	max-width: 100%;
}
.hero2-wrapper {
    margin-top: 0;
	}
.hero2-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title2 {
	text-align:center;
}
.abzac2 {
	font-size: 11px;
	line-height: 158.48%;
	text-align: center;
}
.hero2 {
	padding-top: 36px;
	height:777px;
}
.hero2-wrapper-wrapper {
	padding-top: 36px;
}
.hero3 {
	background: #131313;
}
.hero3-container{
	margin-top: -2px;
	align-items: center;
}
.hero3-wrapper-wrapper {
	/*width: 100%;*/
}
.hero3-image {
	width: 100%;
}
.abzac3 {
	font-size: 11px;
	line-height: 169.8%;
/* or 19px */
	text-align: center;
	color: #FFFFFF;
	padding-left:5%;
	padding-right:5%;
}
.form {
	width:340px;
	height: 260px;
	margin:0;
	padding-top: 40px;
	padding-left: 2%;
	background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
	justify-content: space-around;
	
}
.input {
	color: #FFFFFF;
	background: #131313;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 340px;
}
.type1-image {
	width: 340px;
}
.form-abzac {
	color: rgba(255, 255, 255, 0.5);
}
.text {
	color: #FFFFFF;
}
.button-form {
	display:none;
}
.button-mobile {
	display: block;
	width: 340px;
	position: relative;
	bottom: -26px;
}
.spisok {
	margin-left: 0px;
}
.types-repair {
	margin-top: 58px;
}
.types-repair-wrapper {
	flex-direction:column;
}
.type1 {
	margin-bottom: 59px;
}
.request-repair  {
	display:none;
}
.repair-request-piggy {
	display:none;
}
.clients {
	display:none;
}
.last {
	margin-top: -200px;
	background-image:none;
	background-color: #131313;
}
.form-last {
	width:340px;
	top:0;
}
.last-content {
	position:absolute;
	top: 500px;
	left: 5%;
	right: 5%;
}
.last-map {
	display: none;
}
.last-map-mobile {
	display: block;
	margin-top:270px;

}
.form-last-title {
	margin-left: auto;
	margin-right: auto;
}
.last-title{
	font-size: 18px;
	line-height: 138.6%;
/* or 25px */

	text-align: center;
	text-transform: uppercase;
}
.footer {
	display: none;
}